:root {
  --background-light: white;
  --text-light: black;
  --background-dark: #1a1a1a;
  --text-dark: white;
}

body {
  background-color: var(--background-light);
  color: var(--text-light);
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
