:root {
  --background-light: white;
  --text-light: black;
  --background-dark: #232323;
  --text-dark: white;
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
